<div class="nav">
    <span routerLink="/" class="pointer" style="cursor: pointer;">
        <div class="twelve">
            <h1>Blogoos</h1>
        </div></span>
    <div class="btns">
        <button class="button login" routerLink="/login">
            <svg
                class="svg-icon"
                fill="none"
                height="20"
                viewBox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    clip-rule="evenodd"
                    d="m9.99998 4.16667c1.38072 0 2.50002 1.11929 2.50002 2.5 0 .85577-.4293 1.6115-1.088 2.06341l-.4536.31125.1079.53934 1.2505 6.25263h-4.63366l1.25051-6.25263.10791-.53934-.45358-.31125c-.65876-.45191-1.088-1.20764-1.088-2.06341 0-1.38071 1.11925-2.5 2.5-2.5zm-2.31684 11.66663-.19934.9968-.81715-.1634v-.8334zm5.65016.8334v-.8334h-1.0165l.1993.9968zm.8172-.1634.1993.9967h-1.0165-6.66665-1.0165l.19935-.9967 1.35023-6.75127c.14013.12727.28892.24506.44536.35237l.47144-.68715-.81716-.16342-.09964.4982c-.83832-.76139-1.36642-1.86163-1.36642-3.08536 0-2.30119 1.86549-4.16667 4.16667-4.16667 2.30112 0 4.16662 1.86548 4.16662 4.16667 0 1.22374-.5281 2.32399-1.3664 3.08538l-.0996-.49822-.8172.16342-.4714-.68717.4714.68717-.8171.16342.8171-.16342.4715.68715c.1564-.1073.3052-.22509.4453-.35235z"
                    fill="#fff"
                    fill-rule="evenodd"></path>
            </svg>
            <span class="lable">Login</span>
        </button>
        <button class="signup" routerLink="/registration">
            Sign up
            <div class="arrow-wrapper">
                <div class="arrow"></div>
            </div>
        </button>
    </div>
</div>
<div class="container">
    <div class="svg">
        <img src="assets/index_svg.svg" alt="Snow" />
    </div>
    <div class="textFlow">
        <h1>
            <span>ALWAYS</span>
            <div class="message">
                <div class="word1">WRITE</div>
                <div class="word2">CREATE</div>
                <div class="word3">CONNECT</div>
                <div class="word3">INSPIRE</div>
            </div>
        </h1>
        <p>
            Stay ahead with our blog application for the latest updates,
            anytime, anywhere.
        </p>
        <p>
            Our comprehensive blog application brings you a wide range of
            engaging content, thought-provoking articles, and inspiring stories.
            With real-time notifications, personalized recommendations, and a
            user-friendly interface, you'll never miss a beat. Stay informed,
            connected, and empowered with our blog app today.
        </p>
        <button routerLink="/blog">Read Blogs</button>
    </div>
</div>
<div class="articles">
    <h1>Global Blog</h1>
    <p>Stay connected with the world through our Global Blog</p>
    <div class="section">
        <div class="sec">
            <div class="head">
                <div class="subArticle">
                    <div class="data">
                        <h1>Exploring the Wonders of Nature</h1>
                        <p class="firstPara"> Join us on a virtual journey as we
                            traverse through breathtaking landscapes, vibrant
                            ecosystems, and remarkable wildlife. Discover the
                            hidden treasures of Mother Nature through stunning
                            visuals and insightful narratives. Nature enthusiast
                            and photographer extraordinaire, Emily Green, will
                            be your guide in this awe-inspiring adventure.</p>
                        <p>Author: <span>Emily Green</span></p>
                        <button routerLink="/blog">Read Blogs</button>
                    </div>
                    <div class="image">
                        <img
                            src="https://images.pexels.com/photos/840667/pexels-photo-840667.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="image not fount">
                    </div>
                </div>
                <h1>
                    <img src="" alt>
                </h1>
            </div>
        </div>
        <div class="sec">
            <div class="head">
                <h1>
                    <img src="" alt>
                </h1>
                <div class="subArticle">
                    <div class="data">
                        <h1>The Art of Mindful Living</h1>
                        <p class="firstPara"> Dive into the world of mindfulness
                            and learn how to embrace the present moment fully.
                            This blog delves into various techniques for
                            reducing stress, improving focus, and cultivating a
                            deeper sense of gratitude. Join our resident
                            mindfulness coach, Michael Anderson, on this
                            transformative journey to find peace and balance in
                            a chaotic world.</p>
                        <p>Author: <span>Jimmy Harris</span></p>
                        <button routerLink="/blog">Read Blogs</button>
                    </div>
                    <div class="image">
                        <img
                            src="https://images.pexels.com/photos/3760269/pexels-photo-3760269.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="image not fount">
                    </div>
                </div>
            </div>
        </div>
        <div class="sec">
            <div class="head">
                <div class="subArticle">
                    <div class="data">
                        <h1>Culinary Delights from Around the World</h1>
                        <p class="firstPara"> Embark on a tantalizing
                            gastronomic tour as we explore the diverse flavors
                            and culinary traditions from different corners of
                            the globe. From savory street food to exquisite
                            desserts, our culinary expert, Sarah Johnson, will
                            introduce you to unique recipes and share
                            fascinating stories behind each dish. Get ready to
                            expand your palate and satisfy your wanderlust
                            through these delightful food adventures.</p>
                        <p>Author: <span>Ravi Bhabha</span></p>
                        <p>Published by: <span>Sarah Johnson</span></p>
                        <button routerLink="/blog">Read Blogs</button>
                    </div>
                    <div class="image">
                        <img
                            src="https://images.pexels.com/photos/3769118/pexels-photo-3769118.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="image not fount">
                    </div>
                </div>
                <h1><img src="" alt></h1>
            </div>
        </div>
    </div>
</div>
<div class="whyus">
    <h1>Why Blogoos</h1>
    <p>HotNews provides timely and relevant news updates from around the world,
        keeping you informed and connected. Stay updated with the latest events,
        developments, and stories that matter to you.</p>
    <div class="combine">
        <div class="data">
            <div class="reason">
                <h1>Personal Expression</h1>
                <p>Your destination for engaging and insightful articles on
                    diverse topics to inspire and entertain</p>
            </div>
            <div class="reason">
                <h1>Informative Content</h1>
                <p> Blogs cover a wide range of subjects, from lifestyle and
                    travel to technology and business. They offer valuable and
                    informative content that can educate readers and help them
                    stay updated on the latest trends and developments.</p>
            </div>
            <div class="reason">
                <h1>Ease of Publishing</h1>
                <p> Starting a blog is relatively simple and doesn't require
                    extensive technical knowledge. Many platforms offer
                    user-friendly interfaces that allow bloggers to publish
                    content easily and regularly.</p>
            </div>
        </div>
        <div class="column"></div>
        <div class="gif">
            <img src="assets/mobile.gif" alt>
            <button routerLink="/blog"
                style="margin-left: auto; margin-right: auto;">Read Blogs</button>
        </div>
    </div>
</div>
<footer>
    1810 Ironstone,Burilgton | ON L7L 5V3 | Email:info@blogoos.com |
    &copy;Blogoos All rights reserved
</footer>